:root{
  --couleur-primaire: #a7029a;
  --couleur-secondaire: darkgray;

  --couleur-noir:black;
  --couleur-blanc:white;

  --degrade-priamire: linear-gradient(36deg, rgba(167, 2, 154,.7) 0%, rgba(167, 2, 154,0)100%);
}